<div class="jumbotron text-center">
    <h1 class="display-3">
        {{title}}
    </h1>
    <p class="lead">
        This website is about sharing your ideas and stories.
    </p>
    <a href="/idea/video" class="btn btn-dark btn-lg">Submit Your Idea</a>
</div>